
singularity {

    enabled                         = true

    envWhitelist                    = 'APPS,UUFSCELL,DATA,USCRATCH,REPOSITORY,PROCESSING,ANALYSIS,SLURM_CPUS_ON_NODE,SLURM_JOB_ID,USER'

    autoMounts                      = true

    runOptions                      = '-B "$TMPDIR"'

}

profiles {

    standard {
        
    }

    single {
        
    }

    merged {
        
    }

}

process {

    withLabel: local {

        executor                    = 'local'

        container                   = ''

    }

    withLabel: contained {

        executor                    = 'slurm'

        clusterOptions              = '-A ucgd-rw --partition ucgd-rw -N 1'

        errorStrategy               = 'retry'
        
        maxRetries                  = 10

        container                   = 'file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/isoseq_pipeline/isoseq.sif'

    }

}

params {
    
    // Main resources paths/variables
    reads_list_path                 = 'path/to/reads/list.tsv'
    reference_fasta_path            = 'path/to/reference.fasta' // N.B. Must be from Gencode
    gtf_annotation_path             = 'path/to/gtf/annotation' // N.B. Must be from Gencode
    primers_fasta_path              = 'path/to/primers.fasta'

    // Main output directories
    results_dir                     = 'results'
    reports_dir                     = '0_reports'
    lima_reports                    = 'lima'
    refining_reports                = 'refining'
    clustering_reports              = 'clustering'
    alignment_reports               = 'minimap2'
    collapse_reports                = 'collapse'
    classify_reports                = 'classify'
    clusters_dir                    = '1_clustered_hifi'
    alignment_dir                   = '2_aligned'
    collapsed_dir                   = '3_collapsed'
    classify_dir                    = '4_transcripts'
    
    // Other parameters

    // Parameters for Lima as a single line of text
    // e.g. '--overwrite-biosample-names --hifi-preset SYMMETRIC'
    // See https://lima.how for more
    lima_parameters                 = '--isoseq --peek-guess'

    // Parameters for Isoseq refine as a single line of text
    // e.g. '--require-polya --min-polya-length 20'
    // See https://isoseq.how for more
    isoseq_refine_parameters        = '--require-polya'

    // Parameters for Isoseq cluster2 as a single line of text
    // See https://isoseq.how for more
    isoseq_cluster2_parameters      = ''

    // Parameters for pbmm2 as a single line of text
    // See https://github.com/PacificBiosciences/pbmm2 for more
    pbmm2_parameters                = '--preset ISOSEQ --sort'
    
    // Parameters for Isoseq collapse as a single line of text
    // e.g. '--do-not-collapse-extra-5exons'
    // See https://isoseq.how for more
    collapse_parameters             = '--do-not-collapse-extra-5exons'

    // Parameters for pigeon classify as a single line of text
    // e.g. '--min-ref-length 200'
    // See pigeon classify --help for more
    classify_parameters             = ''

    // Parameters for pigeon filter as a single line of text
    // e.g. '--polya-percent 0.6 --max-distance 50'
    // See pigeon filter --help for more
    filter_parameters               = ''

}